body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: #dde0e0;
}
.btn {
  border: 2px solid #222;
  background: lightgrey;
  font-size: 2rem;
  text-transform: uppercase;
}
